.title{
    margin: 20px;
    font-size: 25px;
    color: gray;
    font-weight: bold;

}

app-project{
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.add-new-project{
    margin: 30px;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    color: red;
}

.add-new-project:hover{
    color: green;
    background-color: lightgray;
}

.server-error{
    color :red;
}