<div class="title"><span>Project list</span></div>
<app-project *ngFor="let _project of projects" [project]="_project"></app-project>
<button class="add-new-project" (click)="showingAddProjectForm()" >+</button>
<form name="userForm" #userForm="ngForm" *ngIf="showAddProjectForm" (ngSubmit)="addProject()" >
    <div>
        <p>Name</p>
        <input type="text" name="name" [(ngModel)]="newProjectr.Name" #name="ngModel" required (change)="change()"/>
    </div>
    <div>
        <p>Description</p>
        <input type="text" name="Description" #Description="ngModel" [(ngModel)]="newProjectr.Description" required  (change)="change()"/>
    </div>
    <div>
        <p>Author Id</p>
        <input type="number" class="updateUserItem" name="AuthorId" #AuthorId="ngModel" #name="ngModel" [(ngModel)]="newProjectr.AuthorId" />
    </div>
    <div>
        <p>Team Id</p>
        <input type="number" name="teamId" #teamId="ngModel" #name="ngModel"  [(ngModel)]="newProjectr.TeamId" (change)="change()"/>
    </div>
    <div>
        <p>Deadline</p>
        <input type="date" name="Deadline" #Deadline="ngModel"  [(ngModel)]="newProjectr.Deadline" required  (change)="change()"/>
    </div>
    <div>
        <input type="submit" title="Add project"  value="Add new project"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>