<div><span>Id:&nbsp;{{user.Id}}</span></div>
<div><span>Name: {{user.Name}}</span></div>
<div><span>Surname: {{user.Surname}}</span></div>
<div><span>Birthday: {{user.BirthDay | datePipe}}</span></div>
<div><span>Team id: {{user.TeamId}}</span></div>
<div><span>Email: {{user.Email}}</span></div>
<div><span>Registered: {{user.RegisteredAt  | datePipe}}</span></div>
<div><button class="add-new-user" (click)="showingUpdateUserForm()">edit</button></div>
<div><button class="add-new-user" (click)="deleteUser()">delete</button></div>

<form name="userUpdateForm" #userUpdateForm="ngForm" *ngIf="showUpdateUserForm" (ngSubmit)="updateUser()">
    <div>
        <p>Name</p>
        <input type="text" class="updateUserItem" name="name" [(ngModel)]="user.Name" #name="ngModel" required />
    </div>
    <div>
        <p>Surname</p>
        <input type="text" class="updateUserItem" name="surname" #surname="ngModel" [(ngModel)]="user.Surname" required />
    </div>
    <div>
        <p>Email</p>
        <input type="text" class="updateUserItem" name="email" #email="ngModel" [(ngModel)]="user.Email" required />
    </div>
    <div>
        <p>Team Id</p>
        <input type="number" class="updateUserItem" name="teamId" #teamId="ngModel" #name="ngModel" [(ngModel)]="user.TeamId" />
    </div>
    <div>
        <p>BirthDay</p>
        <input type="date" class="updateUserItem"  name="birthDay" #birthDay="ngModel" [ngModel]="user.BirthDay | date:'yyyy-MM-dd'"  (ngModelChange)="user.BirthDay = $event"  required />
    </div>
    <div>
        <input type="submit" title="Update user"/>
    </div>
    <div class="server-error">{{serverError}}</div>
</form>