<router-outlet>
    <div><a [routerLink]="['projects']">Projects</a></div>
    <div><a [routerLink]="['users']">Users</a></div>
    <div><a [routerLink]="['teams']">Teams</a></div>
    <div><a [routerLink]="['tasks']">Task</a></div>
</router-outlet>
